@model StartCountModel

@{
    Layout = "_AdminLayout";
}

<div class="content-header clearfix">
    <input type="hidden" id="stockCountId" name="StockCountId" value="@Model.StockCountId" />
    <div class="float-left">
        <h3 class="mb-0">
            @T("Plugins.Misc.CountingSequence.StockCountNumber")
        </h3>
    </div>

    <div class="float-right d-flex align-items-center" style="gap:25px;">
        <div>
            <i class="fas fa-warehouse"></i>
            <strong>@Model.WarehouseName</strong>
        </div>

        <div>
            <i class="far fa-calendar-alt"></i>
            <strong>@T("Plugins.Misc.CountingSequence.CountCreated")</strong> (@Model.CountDate.ToString("dd-MM-yyyy"))
        </div>

        <div>
            <i class="far fa-calendar-alt"></i>
            <strong>@Model.CountStatus</strong>
        </div>
    </div>
</div>

<hr />

<div class="card mt-4">
    <div class="card-body text-center">
        <div>
            <h1>@T("Plugins.Misc.CountingSequence.EmptyCount")</h1>
        </div>
        @if (Model.IsRackAvailable)
        {
            <button class="btn btn-lg btn-outline-dark m-3" onclick="location.href='@Url.Action("CountingSequenceRacksProductDetails", "CountingSequence", new { stockCountId = Model.StockCountId })'">
                @T("Plugins.Misc.CountingSequence.Racks")
            </button>
        }
        @if (Model.IsPalletAvailable)
        {
            <button class="btn btn-lg btn-outline-dark m-3" onclick="openInUsePalletPopup()">
                @T("Plugins.Misc.CountingSequence.Pallets")
            </button>
        }
    </div>
</div>

<div class="modal fade warehouse_Modal" id="inUsePalletModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="inUsePalletModalContent">
        </div>
    </div>
</div>

<script>
    function openInUsePalletPopup() {
        $.get('@Url.Action("InUsePallet", "CountingSequence")', function (data) {
            $('#inUsePalletModalContent').html(data);
            $('#inUsePalletModal').modal('show');
        });
    }
</script>