@model ShipmentTransitModel

@{
    Layout = "_AdminLayout";
    NopHtml.SetActiveMenuItemSystemName(CountingSequenceDefaults.CountingSequenceShipmentTransit);
}

<form asp-controller="ShipmentTransit" asp-action="Edit" method="post" id="shipment-transit-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Misc.CountingSequence.ShipmentTransit.EditShipmentTransit")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Plugins.Misc.CountingSequence.ShipmentTransit.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
            <button type="submit" name="save-continue" class="btn btn-primary">@T("Admin.Common.SaveContinue")</button>

            <span id="shipment-transit-delete" class="btn btn-danger">
                <i class="far fa-trash-can"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>

            @await Html.PartialAsync("~/Plugins/Misc.CountingSequence/Views/ShipmentTransit/_CreateOrUpdate.cshtml", Model)
</form>

<div class="card">
    <div class="card-header">
        <h3>@T("Plugins.Misc.CountingSequence.ShipmentTransit.Pallets")</h3>
    </div>

    <div class="card-body">
        @await Html.PartialAsync("Table", new DataTablesModel
        {
            Name = "pallet-grid",
            UrlRead = new DataUrl("ShipmentTransitPalletList", "ShipmentTransit", new RouteValueDictionary {[nameof(ShipmentTransitPalletSearchModel.ShipmentTransitId)] = Model.Id}),
            PrimaryKeyColumn = nameof(ShipmentTransitPalletModel.PalletId),
            Length = Model.ShipmentTransitPalletSearchModel.PageSize,
            LengthMenu = Model.ShipmentTransitPalletSearchModel.AvailablePageSizes,
            ColumnCollection = new List<ColumnProperty>
            {
                new ColumnProperty(null)
                {
                    Render = new RenderChildCaret(),
                    Width = "5",
                    ClassName = NopColumnClassDefaults.ChildControl
                },
        
                new ColumnProperty(nameof(ShipmentTransitPalletModel.PalletName))
                {
                    Title = T("Plugins.Misc.CountingSequence.ShipmentTransit.Pallet").Text,
                    ClassName = NopColumnClassDefaults.CenterAll
                }
            },
        
            ChildTable = new DataTablesModel
            {
                Name = "pallet-item-grid",
                UrlRead = new DataUrl("ShipmentTransitItemByPalletList", "ShipmentTransit", 
                new RouteValueDictionary {[nameof(ShipmentTransitItemSearchModel.ShipmentTransitId)] = Model.Id}),
                UrlDelete = new DataUrl("DeleteShipmentTransitItem", "ShipmentTransit", null),
                IsChildTable = true,
                Paging = false,        
                Filters = new List<FilterParameter>
                {
                    new FilterParameter(nameof(ShipmentTransitItemSearchModel.PalletId),nameof(ShipmentTransitPalletModel.PalletId),true),
                    new FilterParameter(nameof(ShipmentTransitItemSearchModel.ShipmentTransitId),Model.Id)
                },
        
                ColumnCollection = new List<ColumnProperty>
                {
                    new ColumnProperty(nameof(ShipmentTransitItemModel.ProductName))
                    {
                        Title = T("Plugins.Misc.CountingSequence.ShipmentTransitItem.Product").Text,
                        ClassName = NopColumnClassDefaults.CenterAll
                    },

                    new ColumnProperty(nameof(ShipmentTransitItemModel.CategoryName))
                    {
                        Title = T("Plugins.Misc.CountingSequence.ShipmentTransitItem.CategoryName").Text,
                        ClassName =  "text-left",
                    },

                    new ColumnProperty(nameof(ShipmentTransitItemModel.Specifications))
                    {
                        Title = T("Plugins.Misc.CountingSequence.ShipmentTransitItem.Specification").Text,
                        ClassName =  "text-left",
                    },

                    new ColumnProperty(nameof(ShipmentTransitItemModel.NoOfPacks))
                    {
                        Title = T("Plugins.Misc.CountingSequence.ShipmentTransitItem.NoOfPacks").Text,
                        ClassName = NopColumnClassDefaults.CenterAll
                    },

                    new ColumnProperty(nameof(ShipmentTransitItemModel.NoOfUnits))
                    {
                        Title = T("Plugins.Misc.CountingSequence.ShipmentTransitItem.NoOfUnits").Text,
                        ClassName = NopColumnClassDefaults.CenterAll
                    },
                    new ColumnProperty(nameof(ShipmentTransitItemModel.ToDispatchName))
                    {
                        Title = T("Plugins.Misc.CountingSequence.ShipmentTransitItem.HAndL").Text,
                        ClassName = NopColumnClassDefaults.CenterAll
                    },
                    new ColumnProperty(nameof(ShipmentTransitItemModel.Id))
                    {
                        Title = T("Admin.Common.Edit").Text,
                        Width = "100",
                        ClassName = NopColumnClassDefaults.Button,
                        Render = new RenderCustom("renderEditButton")
                    },
                    new ColumnProperty(nameof(ShipmentTransitItemModel.Id))
                    {
                        Title = T("Admin.Common.Delete").Text,
                        Render = new RenderButtonRemove("Delete")
                    }
                }
            }
        })

    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary" onclick="openAddItemPopup()">
            <i class="fas fa-plus"></i>
            @T("Plugins.Misc.CountingSequence.ShipmentTransit.AddItem")
        </button>
    </div>
</div>

<div class="modal fade" id="shipmentTransitModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="shipmentTransitModalContent"></div>
    </div>
</div>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="shipment-transit-delete" />
<script>
    function openAddItemPopup() {
        $.get('@Url.Action("AddItem", "ShipmentTransit")'
            + '?shipmentTransitId=@Model.Id',
            function (data) {
                $('#shipmentTransitModalContent').html(data);
                $('#shipmentTransitModal').modal('show');
            });
    }

    function renderEditButton(data, type, row, meta) {
        return `<button class="btn btn-sm btn-primary" onclick="editRow(this, ${data})">
                               <i class="fas fa-pencil"></i> Edit
                </button>`;
    }

    function editRow(btn, id) {
        var row = $(btn).closest('tr');

        var noOfPacksCell = row.find('td:eq(3)');
        var noOfUnitsCell = row.find('td:eq(4)');

        var noOfPacks = noOfPacksCell.text().trim();
        var noOfUnits = noOfUnitsCell.text().trim();

        noOfPacksCell.html(`<input type="number" min="1" class="form-control form-control-sm noOfPacks-input" value="${noOfPacks}" />`);
        noOfUnitsCell.html(`<input type="number" min="1" class="form-control form-control-sm noOfUnits-input" value="${noOfUnits}" />`);

        $(btn).replaceWith(`
            <button class="btn btn-sm btn-success" onclick="saveRow(this, ${id})">
                <i class="fas fa-save"></i>Save
            </button>
            <button class="btn btn-sm btn-secondary" onclick="cancelEdit(this)">
                <i class="fas fa-times"></i>Cancle
            </button>
        `);
    }

    function cancelEdit(btn) {
        var row = $(btn).closest('tr');
        var table = row.closest('table').DataTable();

        table.ajax.reload(null, false);
    }

    function saveRow(btn, id) {
        var row = $(btn).closest('tr');
        var table = row.closest('table').DataTable();

        var noOfPacks = parseInt(row.find('.noOfPacks-input').val());
        var noOfUnits = parseInt(row.find('.noOfUnits-input').val());

        if (noOfPacks === 0 && noOfUnits === 0) {
            alert("Enter NoOfPacks or NoOfUnits");
            return;
        }

        var token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateShipmentTransitItem", "ShipmentTransit")',
            data: {
                id: id,
                noOfPacks: noOfPacks,
                noOfUnits: noOfUnits,
                __RequestVerificationToken: token
            },
            success: function (response) {
                if (response.success) {
                    table.ajax.reload(null, false);
                }
            }
        });
    }
</script>
