@model RackModel

@{
    ViewBag.PageTitle = T("Plugins.Misc.CountingSequence.Rack.EditRack").Text;
    NopHtml.SetActiveMenuItemSystemName(CountingSequenceDefaults.CountingSequenceRack);
    Layout = "_AdminLayout";
    const string hideProductsBlockAttributeName = "RackPage.HideProducts";
}

<form asp-controller="Rack" asp-action="Edit" method="post" id="rack-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Misc.CountingSequence.Rack.EditRack") - @Model.Name
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List"> @T("Plugins.Misc.CountingSequence.Rack.BackToList")</a>
            </small>
        </h1>

        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
            <button type="submit" name="save-continue" class="btn btn-primary">@T("Admin.Common.SaveContinue")</button>

            <span id="rack-delete" class="btn btn-danger">
                <i class="far fa-trash-can"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>

    @await Html.PartialAsync("~/Plugins/Misc.CountingSequence/Views/Rack/_CreateOrUpdate.cshtml", Model)
</form>


<div class="container-fluid">
    <div class="form-horizontal">
        <nop-cards id="rack-cards">
            <nop-card asp-name="rack-products"
                      asp-icon="fas fa-box"
                      asp-title="Products"
                      asp-hide-block-attribute-name="@hideProductsBlockAttributeName"
                      asp-hide="false"
                      asp-advanced="false">
                @await Html.PartialAsync("~/Plugins/Misc.CountingSequence/Views/Rack/_CreateOrUpdate.Products.cshtml", Model)
            </nop-card>
        </nop-cards>
    </div>
</div>

<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="rack-delete" />